* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr / minmax(250px, 1fr) 4fr;
}

header {
    border-bottom: 1px siolid black;
    grid-column: 2 / 3;
}

nav {
    background-color: rgb(9, 124, 218);
    grid-row: 1 / 3;
}

main {
    background-color: rgb(190, 190, 190);
}