

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    --custom-blue: rgb(9, 124, 218);
    --card-color: beige;
}

body {
    min-height: 100%;
    width: 1350px;
    margin: auto;
    display: grid;
    grid-template: 1fr 5fr / minmax(250px, 1fr) 4fr;
}

a {text-decoration: none;}

li {list-style: none;}


/* header */

header {
    background-color: white;
    padding: 0px 40px;
    border-bottom: 1px solid black;
    grid-column: 2 / 3;

    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;
}

header > div {
    padding: 0px 10px;
}

.searchbar {
    padding-right: 10px;
    display: grid;
    grid-template-columns: 25px 1fr;
}

.icon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon-list li {
    text-align: right;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
}

.header-buttons button {
    color: white;
    width: 90px;
    height: 40px;
    background-color: var(--custom-blue);
    border: none;
    border-radius: 20px;
}


/* sidebar  */

nav {
    padding: 20px;
    background-color: var(--custom-blue);
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav a {
    color: white;
    font-size: 1.8em;
}

nav ul li {
    margin-top: 20px;
    font-size: 0.8em;
}

/* main content  */

main {
    background-color: rgb(230, 230, 230) ;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.card {
    background-color: var(--card-color);
}

    /* Your Projects  */

.projects-container {
    background-color: red;
    padding: 30px 15px;
    grid-row: 1 / 3;
}

.projects {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 35px;
}

article {
    /* background-color: var(--card-color); */
    height: 200px;
    padding: 20px;
}

    /* Announcements  */

.announcements-container {
    background-color: aqua;
    padding: 30px 20px 30px 0px;
}

.announcements {
    /* background-color: gray; */
    height: 300px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

/* .announcements-link {
    background-color: var(--card-color);
} */

    /* Trending  */
 
.trending-container {
    background-color: blueviolet;
    padding: 5px 20px 0px 0px;
}

.trending {
    /* background-color: gray; */
    height: 300px;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

/* .trending-link {
    background-color: var(--card-color);
} */

